@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=IM+Fell+Double+Pica&display=swap');

:root {
  --bg-side-bar: rgba(39, 217, 245, 0.8);

  --text-light: rgba(250, 250, 250, 1);

  --border-gray: 3px outset rgba(1, 18, 35, 0.3);
}

/* Header */

#contact-head {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 20px 0 10px 0;
}

/* Side Bar */

#side-bar {
  border-radius: 20px;
  background-color: var(--bg-side-bar);
}

#self-pic {
  width: 70%;
  border-radius: 10px;
  border: var(--border-gray);
}

#self-pic-div {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
}

#qualifications-head {
  text-align: center;
  padding-top: 5vh;
}

.list-item {
    list-style: none;
    margin-left: -2rem;
    color: var(--text-light);
    text-align: center;
    padding: 0.8vh;
    font-weight: 600;
}

#github-section,
#linkedin-section {
  display: flex;
  justify-content: center;
  padding-bottom: 0.8vh;
}

#github-header,
#linkedin-header {
  text-align: center;
  padding-top: 0.8vh;
}

/* Projects */

#projects-head {
  text-align: center;
  padding: 0 3vh;
  font-weight: bold;
}

.projects-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 3vh 1vw;
}